body {
    background: #cca8e9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
h1, h2, h3 {
    text-align: left;
    padding: 10px;
    margin: 0 auto;
}
.card-body {
background: #c3bef0;  
}
.description {
    padding: 10px;
}
#current-location-button {
  background-color:#defcf9; 
 color:   #111111; 
}