body{
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight:100;
  line-height: 28px;
   margin-bottom: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    color: rgb(135, 135,135);
    display: block;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-app {
    padding: 25px;
    border: 1px solid gray;
    border-radius: 6px;
}
.overview{
    margin-bottom: 20px;
}
.weather-temperature img {
    vertical-align: top;
    height: 64px;
    width: 64px;
}
.weather-temperature strong {
    color: rgb(33,33,33);
    font-size: 64px;
    line-height: 1;
    font-weight: 100;
}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -32px;
}
.weather-temperature .active {
    color: black;
    cursor: default;
}

a {
    text-decoration: none;
}
#description::first-letter{
    text-transform: capitalize;
}

.weather-forecast-date{
  font-size: 16px;
  text-align: left;
  opacity: 0.5;
}
.weather-forecast-min {
    opacity: .5;
}
.weather-forecast-temperatures{
 font-size: 13px;
text-align: left;
}